.button {
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;

  border: none;
  -webkit-appearance: none;
  -ms-accelerator: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  outline: none;
}
.button > svg {
  margin-right: 5px;
}

.disabled {
  color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.0625);
  border: 1px solid rgba(0, 0, 0, 0.0625);
}

.default {
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.0625);
}
.default:hover {
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.0625);
  border: 1px solid rgba(255, 255, 255, 1);
}

.primary {
  color: rgba(255, 255, 255, 1);
  background: rgba(30, 144, 255, 1);
  border: 1px solid rgba(30, 144, 255, 1);
}
.primary:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(30, 144, 255, 0.8);
  border: 1px solid rgba(30, 144, 255, 0.8);
}

.secondary {
  color: rgba(255, 255, 255, 1);
  background: rgba(50, 205, 50, 1);
  border: 1px solid rgba(50, 205, 50, 1);
}
.secondary:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(50, 205, 50, 0.8);
  border: 1px solid rgba(50, 205, 50, 0.8);
}

.danger {
  color: rgba(255, 255, 255, 1);
  background: rgb(248, 25, 25);
  border: 1px solid rgba(244, 67, 54, 1);
}
.danger:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(244, 67, 54, 0.8);
  border: 1px solid rgba(244, 67, 54, 0.8);
}
